<div class="particulars-history h-100 d-flex flex-column flex-grow-1">
  <div class="label text-muted pb-2">Status History</div>
  <div style="overflow-y: auto;">
    <ul class="list-group list-group-flush">
      {% set latest = voucher.history | sort(attribute="updated_at") | reverse | first %}
      {% for h in voucher.history|sort(attribute="updated_at") | reverse %}
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-muted">{{ h.updated_at | local_time }}</span>
            <span
              class="badge d-inline-block
              {% if h.status.code == 'received' %}
                bg-secondary
              {% elif h.status.code == 'checked' %}
                bg-primary
              {% elif h.status.code == 'sorted' %}
                bg-warning
              {% elif h.status.code == 'approved' %}
                bg-success
              {% else %}
                bg-danger
              {% endif %}"
              style="width: 65px;"
            >
              {{ h.status.name }}
            </span>
          </div>
          <div>
            <div class="mt-1 text-muted fs-6">
              {% if h.status.code == "received" %}
                Voucher is encoded by <strong>{{ h.updated_by_user.full_name }}</strong>
              {% elif h.status.code == "checked" %}
                Voucher is checked by <strong>{{ h.updated_by_user.full_name }}</strong>
              {% elif h.status.code == "sorted" %}
                Voucher is sorted by <strong>{{ h.updated_by_user.full_name }}</strong>
              {% elif h.status.code == "approved" %}
                Voucher is approved and signed by <strong>{{ h.updated_by_user.full_name }}</strong>
              {% else %}
                Voucher is returned by <strong>{{ h.updated_by_user.full_name }}</strong>
              {% endif %}
            </div>
            {% if h == latest and h.remarks %}
              <div>{{ h.remarks }}</div>
            {% endif %}
          </div>
        </li>
      {% else %}
        <li class="list-group-item text-muted text-center fst-italic">No status history yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>

<style>
  .list-group-item {
    padding: 0.75rem 0 0.75rem 0;
  }
</style>
