<div class="row g-3 p-0">
  <div class="col-6 col-md-4 col-lg-4">
    <div class="card  text-center">
      <div class="card-body">
        <h6 class="card-title text-muted">Total Vouchers</h6>
        <h4 class="fw-bold text-primary">{{ vouchers.count() }}</h4>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2">
    <div class="card  text-center">
      <div class="card-body">
        <h6 class="card-title text-muted">Pending</h6>
        <h4 class="fw-bold text-warning">{{ vouchers | voucher_status("received") }}</h4>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2">
    <div class="card  text-center">
      <div class="card-body">
        <h6 class="card-title text-muted">Processing</h6>
        <h4 class="fw-bold text-info">{{ vouchers | voucher_status("checked") }}</h4>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2">
    <div class="card  text-center">
      <div class="card-body">
        <h6 class="card-title text-muted">Approved</h6>
        <h4 class="fw-bold text-success">{{ vouchers | voucher_status("approved") }}</h4>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2">
    <div class="card  text-center">
      <div class="card-body">
        <h6 class="card-title text-muted">Returned</h6>
        <h4 class="fw-bold text-danger">{{ vouchers | voucher_status("returned") }}</h4>
      </div>
    </div>
  </div>
</div>
