html {
  font-size: 14px;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: #f1f1f1;
  font-family: "Mona Sans", sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

/* # Global - Buttons: Smooth corners + gentle shadow*/
.btn {
  border-radius: 0.5rem;
  box-shadow: var(--bs-box-shadow-sm);
  transition:
    box-shadow 0.1s ease,
    transform 0.1s ease;
}

.btn:hover,
.btn:focus {
  transform: translateY(-1px); /* subtle lift effect */
}

/* # Global - Page content container style*/
.content-container {
  display: grid;
  grid-template-rows: auto 1fr; /* Header + Content */
  height: calc(100vh - 70px);
  padding: 0rem;
  gap: 1rem;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-title {
  margin: 0;
  font-weight: bold;
  padding: 0.5rem 0;
}

/* #Global - Table container with sticky header and scrollable body */
.table-container {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr); /* Header + Scrollable Table */
  background-color: white;
  overflow: hidden;
}

.scroll-area {
  overflow-y: auto;
  min-height: 0;
  flex-grow: 1;
  overflow-x: hidden;
  scrollbar-width: none;
}

.scroll-area::-webkit-scrollbar {
  display: none;
  border-radius: inherit;
  overflow: hidden;
}

/* # Global - Cards: soft corners */
.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: none;
  min-height: 0;
  border-radius: 1rem;
}

.card .card-header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: white;
  padding: 1.5rem 1rem 1rem 1rem;
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding: 0.5rem 1rem 1rem 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
