<!--app/templates/documents/form.html-->
{% extends 'base.html' %}
{% block title %}New Document{% endblock %}
{% block content %}
  <h3>New Document</h3>
  <form action="{{ url_for('documents.create_document') }}" method="post">
    {{ form.hidden_tag() }}

    <div>
      {{ form.document_type.label }}
      {{ form.document_type }}
    </div>

    <div>
      {{ form.document_number.label }}
      {{ form.document_number }}
    </div>

    <div>
      {{ form.payee.label }}
      {{ form.payee }}
    </div>

    <div>
      {{ form.origin.label }}
      {{ form.origin }}
    </div>

    <div>
      {{ form.particulars.label }}
      {{ form.particulars }}
    </div>

    <div>
      {{ form.amount.label }}
      {{ form.amount }}
    </div>

    <div>
      {{ form.date_received.label }}
      {{ form.date_received }}
    </div>

    <div>
      {{ form.status.label }}
      {{ form.status }}
    </div>

    <!--Save-->
    <div>{{ form.submit }}</div>

    <!--Cancel-->
    <a href="{{ request.referrer or get_dashboard_url }}">Cancel</a>
  </form>
{% endblock %}
