{# voucher/edit #}
{# app/templates/voucher/edit.html #}
{% extends 'base.html' %}
{% block content %}
  <div class="content-container">
    <div class="content-header">
      <h4 class="content-title">Edit Voucher</h4>
      <a href="{{ url_for('tracker.view_vouchers') }}" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left me-1"></i>Back
      </a>
    </div>

    <div class="fragments">
      <!--New Voucher-->
      <div class="card">
        <h6 class="card-header text-muted">Disbursement Voucher</h6>
        <div class="card-body">
          <div id="entry-form-container" class="h-100">{% include 'voucher/forms/edit.html' %}</div>
        </div>
      </div>

      <!--Preview-->
      <div class="card">
        <h6 class="card-header text-muted">Details Preview</h6>
        <div class="card-body">
          <div id="preview" class="h-100">{% include "voucher/fragments/preview.html" %}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block style %}
  <style>
    .fragments {
      display: grid;
      grid-template-columns: 1fr 400px;
      gap: 1rem;
      min-height: 0;
      overflow: hidden;
    }
  </style>
{% endblock %}
