<nav class="navbar navbar-expand-sm py-2">
  <div class="container-fluid px-0">
    <a class="navbar-brand"><span class="dv">DV</span><span class="flow">Flow</span></a>
    {% if current_user.is_authenticated %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="container-fluid d-flex justify-content-between align-items-center pe-0 ps-0">
          <div class="nav-buttons position-absolute start-50 translate-middle-x">
            <a
              href="{{ url_for('tracker.dashboard') }}"
              class="btn btn-outline-secondary {{ 'active' if request.endpoint == 'tracker.dashboard' else '' }}"
            >
              Dashboard
            </a>
            <a
              href="{{ url_for('tracker.view_vouchers') }}"
              class="btn btn-outline-secondary  {{ 'active' if request.endpoint in ['tracker.view_vouchers', 'voucher.new_voucher', 'voucher.edit_voucher'] else '' }}"
            >
              Vouchers
            </a>
          </div>
        </div>

        <div class="gap-1 container-fluid d-flex justify-content-end align-items-center pe-0">
          <button class="btn btn-outline-secondary">
            <i class="bi bi-moon"></i>
          </button>
          <button class="btn btn-outline-secondary">
            <i class="bi bi-bell"></i>
          </button>

          <div class="name-role">
            <div class="dropdown">
              <div role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="fw-bold text-start p-0">{{ current_user.full_name | short_name() }}</div>
                <div class="text-muted text-start p-0">{{ current_user.roles[0].name }}</div>
              </div>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <form action="{{ url_for('auth.logout') }}" method="post">
                    <button class="dropdown-item" type="submit">Logout</button>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</nav>

{% block style %}
  <style>
    /* Navbar: Center nav items + active state */
    .nav-buttons .btn {
      background-color: #f1f1f1;
      border-color: #f1f1f1;
      box-shadow: none;
      color: #737373;
    }

    .nav-buttons .btn.active {
      background-color: #eaeaea;
      color: black;
    }

    .dv {
      color: black;
      font-weight: bolder;
    }

    .flow {
      color: #0d6efd;
      font-weight: bold;
    }

    .name-role {
      box-shadow: none;
      font-size: 11px;
      padding: 0 0 0 0.25rem;
      align-items: center;
      border: none;
    }

    .dropdown-menu {
      z-index: 1000;
    }
  </style>
{% endblock %}
