<!--app/templates/all_vouchers.html-->
{% extends 'base.html' %}
{% block content %}
  <div class="d-flex flex-column h-100 p-4">
    {# Header #}
    <div class="d-flex flex-row align-items-center justify-content-between pb-4">
      <h4 class="mb-0 fw-bold">Vouchers</h4>
      <a href="{{ url_for('voucher.new_voucher') }}" class="btn btn-primary">
        <i class="bi bi-plus me-1"></i>New Voucher
      </a>
    </div>

    {# Partials #}
    <div>{% include 'voucher/partials/_table.html' %}</div>
  </div>
{% endblock %}
