<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}eDVSync{% endblock %}</title>

    <!--Global CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/css/tempus-dominus.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Mona+Sans:opsz,wght@6..72,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" />

    {% block style %}
    {% endblock %}
  </head>

  <body>
    <header>{% include 'partials/_navbar.html' %}</header>
    <main>{% block content %}{% endblock %}</main>
    {% include 'partials/_toast.html' %}

    <!--Global JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/js/tempus-dominus.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="{{ url_for('static', filename='scripts/toast.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/form-utils.js') }}" type="module"></script>

    {% block script %}{% endblock %}
  </body>
</html>
