{% extends 'base.html' %}
{% block content %}
  <div class="dashboard">
    <div class="dashboard-header">
      <h4 class="mb-0 fw-bold py-2">Dashboard</h4>
      <a href="{{ url_for('voucher.new_voucher') }}" class="btn btn-primary">
        <i class="bi bi-plus me-1"></i>New Voucher
      </a>
    </div>

    <!-- Dashboard Content -->
    <div class="dashboard-content">
      <!-- LEFT SECTION -->
      <div class="left-panel">
        <!-- Summary Cards -->
        <div>{% include "tracker/_card.html" %}</div>
        <!-- Recent Table -->
        <div class="card">
          <h6 class="card-header text-muted py-3">Recent</h6>
          <button
            id="mark-checked-btn"
            class="btn btn-primary btn-sm mx-3 align-self-start"
            hx-post="{{ url_for('voucher.bulk_update_status') }}"
            hx-target="#table-container"
            hx-swap="innerHTML"
            hx-include="#update-status-form"
          >
            Mark As Checked
          </button>
          <div id="table-container" class="table-container scroll-area">{% include 'voucher/_table.html' %}</div>
        </div>
      </div>
      <!-- RIGHT SECTION -->
      <div class="right-panel">
        <!-- Analytics Card -->
        <div class="card">
          <h6 class="card-header text-muted">Analytics</h6>
          <div class="card-body">
            <p>Sample analytics.</p>
          </div>
        </div>

        <div class="card" id="particulars">
          <h6 class="card-header text-muted">Preview</h6>
          <div class="card-body" hx-swap="innerHTML">
            <p>Select a voucher to view particulars.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scroll Styling -->
  <style>
    .scroll-hidden {
      flex-grow: 1;
      min-height: 0;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    .scroll-hidden::-webkit-scrollbar {
      display: none;
    }
  </style>
{% endblock %}
